#suggest-a-book {
    margin: 20px;
}


.book-details {
    padding: 5px -100px;
    border: 2px solid #f4511e;
    border-radius: 5px;
    margin: 0px 25px 10px 25px;

}

.book-cover {
    padding: 5px;
}